name: devnet

services:
  geth-3:
    container_name: geth-3
    image: "ethereum/client-go:v1.16.4"
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 8G
    command:
      - --networkid=48815
      - --miner.recommit=1s
      - --gcmode=full
      - --state.scheme=hash
      - --authrpc.addr=0.0.0.0
      - --authrpc.port=8551
      - --authrpc.vhosts=*
      - --authrpc.jwtsecret=/root/.ethereum/geth/jwtsecret
      - "--bootnodes=${EL_BOOTNODE}"
      - --http
      - --http.api=eth,net,web3,debug,txpool
      - --http.addr=0.0.0.0
      - --http.corsdomain=*
      - --http.vhosts=*
      - --ws
      - --ws.api=eth,net,web3,debug,txpool
      - --ws.addr=0.0.0.0
      - --ws.origins=*
      - --metrics
      - --metrics.addr=0.0.0.0
      - --metrics.port=6060
    volumes:
      - geth-data-3:/root/.ethereum
    logging:
      driver: "local"
    ports:
      - 8548:8545
      - 8550:8546
      - 6062:6060
    healthcheck:
      test: ["CMD-SHELL", "test -s /root/.ethereum/geth/jwtsecret || exit 1"]
      interval: 1s
      timeout: 1s
      retries: 120
      start_period: 1s

  prysm-3:
    container_name: prysm-3
    image: "prysmaticlabs/prysm-beacon-chain:v6.1.2"
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 2G
    command:
      - --datadir=/prysm/beacon
      - --min-sync-peers=0
      - --enable-debug-rpc-endpoints
      - --checkpoint-sync-url=http://prysm:3500
      - --genesis-state=/prysm/genesis.ssz
      - --peer=${PRYSM_PEERS_3}
      - --chain-config-file=/config/config.yml
      - --contract-deployment-block=0
      - --chain-id=48815
      - --execution-endpoint=http://geth-3:8551
      - --jwt-secret=/geth-3/geth/jwtsecret
      - --accept-terms-of-use
      - --suggested-fee-recipient=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
      - --minimum-peers-per-subnet=0
      - --http-host=0.0.0.0
      - --http-port=3500
      - --http-cors-domain=*
      - --rpc-host=0.0.0.0
      - --rpc-port=4000
      - --p2p-static-id
      - --slots-per-archive-point=32
      - --monitoring-host=0.0.0.0
      - --monitoring-port=8080
    depends_on:
      geth-3:
        condition: service_healthy
    volumes:
      - prysm-data-3:/prysm
      - ./data/prysm/genesis.ssz:/prysm/genesis.ssz:ro
      - geth-data-3:/geth-3
      - ./config/config.yml:/config/config.yml:ro
    logging:
      driver: "local"
    ports:
      - 12003:12000/udp
      - 13003:13000/udp
      - 13003:13000
      - 3503:3500
      - 8082:8080

  validator-3:
    container_name: validator-3
    image: "prysmaticlabs/prysm-validator:v6.1.2"
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 1G
    command:
      - --beacon-rpc-provider=prysm-3:4000
      - --datadir=/prysm/validator
      - --accept-terms-of-use
      - --interop-num-validators=64
      - --interop-start-index=128
      - --chain-config-file=/config/config.yml
    depends_on:
      prysm-3:
        condition: service_started
    volumes:
      - prysm-data-3:/prysm
      - ./config/config.yml:/config/config.yml:ro
    logging:
      driver: "local"

volumes:
  geth-data-3:
  prysm-data-3:
